.blog-post-content{
    background-color: rgb(228, 226, 230);
}

.blogpost-meta{
    
    display: flex;
    justify-content: space-between;
}
.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px 12px;
    font-family: var(--font2);
}